################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SF_KStilesM2/FileContentIndex/bd02e63e-fc32-4a6c-816b-97ca7007277f.vsidx
/.vs/SF_KStilesM2/FileContentIndex
